@anim-short: 0.25s;
@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;

body {
	font-family: 'Source Sans Pro', 'sans-serif';
}

.navigation-bar {
	z-index: 10;
	box-sizing: border-box;
	border: 0;
	border-bottom: 1px solid #c2c2c2;
	padding-top: 0;
	padding-bottom: 0px;
	background-color: white;
	transition: background @anim-short ease-in-out, padding @anim-short ease-in-out;
	-webkit-transition: background @anim-short ease-in-out, padding @anim-short ease-in-out;
	.navbar-nav.override {
		color: black;
		font-size: 0.9em;
		transition: background @anim-short ease-in-out;
		-webikit-transition: background @anim-short ease-in-out;
		&:hover, &:active, &:focus {
			color: white;
			background-color: black;
		}
	}
	&.transparent {
		border: 0;
		//padding-top: 0.6em;
		//padding-bottom: 0.6em;
		background: transparent !important;
		.navbar-nav.override {
			color: white;
			&.navbar-nav:hover, &.navbar-nav:active, &.navbar-nav:focus {
				color: black;
				background-color: white;
			}
		}
	}
}

.loading-panel {
	position: absolute;
	z-index: 2;
	height: 100%;
	width: 100%;
	background-color: black;
}

.cover {
	position: relative;
	padding: 0;
	height: 100vh;
	background-image: url(../images/lap5.jpg);
	background-size: cover;
	color: white;
	.cover-container {
		text-align: center;
		width: 80%;
		.title {
			font-weight: bolder;
			margin-top: -10px;
		}
		.subtitle{
			font-family: 'Garamond', serif;
			font-style: italic;
			span {
				font-weight: 800;
			}
		}
	}
	.scroll-indicator {
		position: absolute;
		z-index:1;
		bottom: 0;
		left: 50%;
		transform: translate(-50%, 0);
		font-color: white;
		font-size: 5em;
	}
}

.bio {
	width: 80%;
	margin: 0 auto;
	padding: 5em 0;
	text-align: center;
	img {
		border-radius: 100%;
		height: 10em;
		width: 10em;
	}
	.subtitle {
		font-family: "Garamond", serif;
		font-weight: 900;
	}
	p {
		text-align: justify;
		text-justify: inter-word;
	}
}
// ++++++++++++++++++++++++++++++++++++++++++++
// Media Queries
// ++++++++++++++++++++++++++++++++++++++++++++

/* Small devices (tablets, 768px and up) */
@media (min-width: @screen-sm-min) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: @screen-md-min) {
	.cover {
		h1 {
			font-size: 7em;
		}
	}
	.bio {
		width: 40%;
	}
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: @screen-lg-min) {

}

// utility classes
.absolute-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.no-margin {
	margin: 0;
}

.no-padding {
	padding: 0;
}
