body {
  font-family: 'Source Sans Pro', 'sans-serif';
}
.navigation-bar {
  z-index: 10;
  box-sizing: border-box;
  border: 0;
  border-bottom: 1px solid #c2c2c2;
  padding-top: 0;
  padding-bottom: 0px;
  background-color: white;
  transition: background 0.25s ease-in-out, padding 0.25s ease-in-out;
  -webkit-transition: background 0.25s ease-in-out, padding 0.25s ease-in-out;
}
.navigation-bar .navbar-nav.override {
  color: black;
  font-size: 0.9em;
  transition: background 0.25s ease-in-out;
  -webikit-transition: background 0.25s ease-in-out;
}
.navigation-bar .navbar-nav.override:hover,
.navigation-bar .navbar-nav.override:active,
.navigation-bar .navbar-nav.override:focus {
  color: white;
  background-color: black;
}
.navigation-bar.transparent {
  border: 0;
  background: transparent !important;
}
.navigation-bar.transparent .navbar-nav.override {
  color: white;
}
.navigation-bar.transparent .navbar-nav.override.navbar-nav:hover,
.navigation-bar.transparent .navbar-nav.override.navbar-nav:active,
.navigation-bar.transparent .navbar-nav.override.navbar-nav:focus {
  color: black;
  background-color: white;
}
.loading-panel {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  background-color: black;
}
.cover {
  position: relative;
  padding: 0;
  height: 100vh;
  background-image: url(../images/lap5.jpg);
  background-size: cover;
  color: white;
}
.cover .cover-container {
  text-align: center;
  width: 80%;
}
.cover .cover-container .title {
  font-weight: bolder;
  margin-top: -10px;
}
.cover .cover-container .subtitle {
  font-family: 'Garamond', serif;
  font-style: italic;
}
.cover .cover-container .subtitle span {
  font-weight: 800;
}
.cover .scroll-indicator {
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  font-color: white;
  font-size: 5em;
}
.bio {
  width: 80%;
  margin: 0 auto;
  padding: 5em 0;
  text-align: center;
}
.bio img {
  border-radius: 100%;
  height: 10em;
  width: 10em;
}
.bio .subtitle {
  font-family: "Garamond", serif;
  font-weight: 900;
}
.bio p {
  text-align: justify;
  text-justify: inter-word;
}
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .cover h1 {
    font-size: 7em;
  }
  .bio {
    width: 40%;
  }
}
/* Large devices (large desktops, 1200px and up) */
.absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.no-margin {
  margin: 0;
}
.no-padding {
  padding: 0;
}
