* {
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab';
  font-weight: 500;
  margin-bottom: .6em; }
  h1.no-margin, h2.no-margin, h3.no-margin, h4.no-margin, h5.no-margin, h6.no-margin {
    margin: 0;
    padding: 0; }

p {
  font-family: 'Roboto';
  font-weight: 400; }

.no-padding {
  padding: 0; }

.no-margin {
  margin: 0; }

.fill-parent {
  position: relative;
  height: 100%;
  width: 100%; }

.vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

sg-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 80px;
  background-color: transparent;
  color: black;
  border: 1px solid #ff7d00; }
  sg-navbar.is-active {
    background-color: #ff7d00; }

.container-main {
  padding: 0; }

.container-fluid.block {
  background-color: #ff7d00;
  color: white;
  padding-top: 30px;
  padding-bottom: 30px; }

.sg-cover {
  height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .sg-cover * {
    display: block; }

.container-fluid.sg-footer {
  padding-top: 40px;
  padding-bottom: 100px; }

@media (min-width: 992px) {
  .container {
    width: 750px; } }
