* {
  box-sizing: border-box; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab';
  font-weight: 500;
  margin-bottom: .6em; }
  h1.no-margin, h2.no-margin, h3.no-margin, h4.no-margin, h5.no-margin, h6.no-margin {
    margin: 0;
    padding: 0; }

p {
  font-family: 'Roboto';
  font-weight: 400; }

.no-padding {
  padding: 0; }

.no-margin {
  margin: 0; }

.fill-parent {
  position: relative;
  height: 100%;
  width: 100%; }

.vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

/* Small devices (tablets, 768px and up)
@media (min-width: @screen-sm-min) {
}
 Medium devices (desktops, 992px and up)
@media (min-width: @screen-md-min) {
}

 Large devices (large desktops, 1200px and up)
@media (min-width: @screen-lg-min) {
}*/
h1.content-header, h2.content-header, h3.content-header, h4.content-header, h5.content-header, h6.content-header {
  margin-bottom: 0.7em; }

.fill-parent {
  position: relative;
  height: 100%;
  width: 100%; }

.fill-height {
  position: relative;
  height: 100%; }

.v-center {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%); }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0; }

p {
  font-size: 1.2em;
  font-weight: 300; }

body {
  position: relative;
  background-color: white; }

.progress {
  border-radius: 0;
  box-shadow: none;
  background-color: #CACACA; }
  .progress .progress-bar {
    background-color: black; }

.l-cover {
  position: relative; }

.cover-background {
  position: absolute;
  top: 0;
  z-index: -1; }
  .cover-background .background {
    background-color: lightgray; }

.cover-portrait-container {
  position: absolute;
  bottom: 0; }

.cover-portrait {
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  right: 0;
  text-align: center; }
  .cover-portrait > img {
    height: 100%; }

.cover-title {
  position: absolute;
  width: 100%;
  height: 50%;
  top: 0;
  left: 0;
  text-align: center;
  font-size: 0.8em; }
  .cover-title .title {
    font-size: 5em;
    font-weight: 800; }
  .cover-title .subtitle {
    font-size: 2em; }
  .cover-title .scroll-indicator {
    position: absolute;
    width: 100%;
    font-size: 3em;
    -webkit-animation-name: scroller;
            animation-name: scroller;
    -webkit-animation-duration: 2s;
            animation-duration: 2s;
    -webkit-animation-timing-function: ease-in-out;
            animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite; }

@-webkit-keyframes scroller {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%); }
  50% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%); }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%); } }

@keyframes scroller {
  0% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%); }
  50% {
    -webkit-transform: translateY(20%);
            transform: translateY(20%); }
  100% {
    -webkit-transform: translateY(0%);
            transform: translateY(0%); } }

.block {
  background-color: white;
  color: black;
  padding: 80px 0; }
  .block.block-accent {
    color: white;
    background-color: black; }
  .block p, .block li {
    text-align: justify; }

.footer {
  padding-bottom: 160px; }

@media (min-width: 768px) {
  .cover-title {
    text-align: left;
    height: 40%;
    font-size: 1.4em; }
  .cover-portrait {
    height: 60%;
    text-align: right; } }

.card {
  background-color: white;
  color: black;
  padding: 1em;
  margin-bottom: 1em; }

@media (min-width: 375px) {
  .cover-title {
    font-size: 1.0em; } }

@media (min-width: 992px) {
  .cover-title {
    height: 100%;
    font-size: 1.4em; }
  .cover-portrait {
    height: 80%;
    text-align: right; } }

@media only screen and (max-device-width: 768px) and (orientation: landscape) {
  .cover-title {
    font-size: 0.8em; }
    .cover-title .scroll-indicator {
      display: none; } }

.navbar-container {
  position: absolute;
  width: 100%;
  top: 0;
  z-index: 99;
  pointer-events: none; }
  .navbar-container > nav {
    position: absolute;
    bottom: 0;
    height: 80px;
    width: 100%;
    border-bottom: 1px solid transparent;
    background-color: transparent;
    color: black;
    pointer-events: all;
    -webkit-transition: .3s all;
    transition: .3s all; }
    .navbar-container > nav .nav-item {
      -webkit-transition: .3s background-color, .3s color, .2s opacity;
      transition: .3s background-color, .3s color, .2s opacity;
      cursor: pointer;
      opacity: 1; }
      .navbar-container > nav .nav-item:hover {
        opacity: 0.6; }
    .navbar-container > nav.is-static {
      position: fixed;
      bottom: auto;
      top: 0;
      background-color: white;
      color: black;
      border-bottom: 1px solid black; }

.nav-links ul {
  list-style: none;
  padding: 0; }
  .nav-links ul li {
    display: inline-block;
    padding: 0 20px; }

.navbar-hamburger {
  font-size: 2em;
  text-align: right; }

.navbar-sidebar {
  position: fixed;
  z-index: 99;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  color: white;
  pointer-events: none; }
  .navbar-sidebar .backdrop {
    background-color: transparent;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    will-change: background-color;
    -webkit-transition: 0.3s background-color;
    transition: 0.3s background-color; }
  .navbar-sidebar .content {
    position: absolute;
    top: 0;
    right: 0;
    width: 80%;
    -webkit-transform: translateZ(0) translateX(100%);
            transform: translateZ(0) translateX(100%);
    will-change: transform;
    -webkit-transition: 0.3s transform;
    transition: 0.3s transform;
    background-color: black;
    padding: 2.5em; }
    .navbar-sidebar .content ul {
      list-style: none;
      padding: 0; }
      .navbar-sidebar .content ul li {
        margin-bottom: 1em; }
  .navbar-sidebar.is-open {
    pointer-events: all; }
    .navbar-sidebar.is-open .backdrop {
      background-color: rgba(0, 0, 0, 0.3); }
    .navbar-sidebar.is-open .content {
      -webkit-transform: translateZ(0) translateX(0%);
              transform: translateZ(0) translateX(0%); }
