<!-- jumbotron: start -->
<div class="jumbotron cover-banner no-margin">
	<div class="cover-top-left">
		<h4 class="hidden-sm hidden-md hidden-lg wow fadeInLeft" data-wow-delay="1s" data-wow-duration="0.5s">
			Slide Right <i class="fa fa-angle-double-right"></i>
		</h4>
	</div>
	<div class="cover-title absolute-center">
		<h1 class="wow fadeIn" data-wow-delay="0.5s" data-wow-duration="2s">Get to know me</h1>
	</div>
</div>
<!-- jumbotron: end -->
<div class="container">
	<div class="content-block">
		<h3>A short Bio</h3>

		<img class="about me" src="./images/me3.jpg" alt="picture of me"/>

		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium distinctio harum optio totam vero.
			Aperiam asperiores, blanditiis delectus doloremque ex expedita id optio ratione repellat tempore, vel vero
			voluptas, voluptatem?</p>

		<p>A alias architecto autem deserunt dolorem dolorum esse est ex expedita facilis fugiat fugit impedit inventore
			iste itaque iusto labore nihil odio pariatur quasi quibusdam saepe, unde vitae voluptate voluptates.</p>

		<p>Aliquid consectetur ea expedita explicabo facere impedit in itaque nam odit, officiis optio porro quaerat
			quod, quos sequi similique vero. Architecto cumque cupiditate doloremque hic, quis saepe suscipit voluptate
			voluptatibus?</p>
	</div>
</div>