<!-- jumbotron: start -->
<div class="jumbotron cover-banner home-cover-banner no-margin">
	<div class="cover-top-left">
		<h4 class="hidden-sm hidden-md hidden-lg wow fadeInLeft" data-wow-delay="1s" data-wow-duration="0.5s">
			Slide Right <i class="fa fa-angle-double-right"></i>
		</h4>
	</div>
	<div class="cover-title absolute-center">
		<h1 class="title wow fadeInDown" data-wow-delay="0.5s" data-wow-duration="1.5s">
			Hi there. I'm a single page web application developer
		</h1>
	</div>
</div>
<!-- jumbotron: end -->
<div class="container">
	<div class="content-block">
		<h3>Who am I?</h3>
		<p>
			My name is Sergei Garcia, and I specialize in making single page web applications with responsive design.
			I'm a believer of the idea great design stems from being able to present any amount of information in the cleanest, most elegant, delightful to use way.
		</p>
	</div>
	<div class="content-block">
		<h3>Why me?</h3>
		<p>
			I love what I do, and the happiness of watching every site grow like a small child is what drives me to be the best I can. I thrive where others run from a challenge, and what I lack in knowledge I make up in persistence. All of this because I love what I do.
		</p>
	</div>
</div>