$orange: #ff7d00;
$navbar-height: 80px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

* {
	box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Roboto Slab';
	font-weight: 500;
	margin-bottom: .6em;
	&.no-margin {
		margin: 0;
		padding: 0;
	}
}

p {
	font-family: 'Roboto';
	font-weight: 400;
}

.no-padding {
	padding: 0;
}
.no-margin {
	margin: 0;
}

.fill-parent {
	position: relative;
	height: 100%;
	width: 100%;
}

.vertical-center {
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}

/* Small devices (tablets, 768px and up)
@media (min-width: @screen-sm-min) {
}
 Medium devices (desktops, 992px and up)
@media (min-width: @screen-md-min) {
}

 Large devices (large desktops, 1200px and up)
@media (min-width: @screen-lg-min) {
}*/