.navbar-container {
	position: absolute;
	width: 100%;
	top: 0;
	z-index: 99;
	> nav {
		position: absolute;
		bottom: 0;
		height: 80px;
		width: 100%;
		border-bottom: 1px solid transparent;
		background-color: transparent;
		color: black;
		transition: .3s all;
		&.is-static {
			position: fixed;
			bottom: auto;
			top: 0;
			background-color: white;
			color: black;
			border-bottom: 1px solid darkgray;
		}
	}
}
.logo-container {
	width: 200px;
}