.navbar-container {
	position: absolute;
	width: 100%;
	top: 0;
	z-index: 99;
	pointer-events: none;
	> nav {
		position: absolute;
		bottom: 0;
		height: 80px;
		width: 100%;
		border-bottom: 1px solid transparent;
		background-color: transparent;
		color: black;
		pointer-events: all;
		transition: .3s all;
		&.is-static {
			position: fixed;
			bottom: auto;
			top: 0;
			background-color: white;
			color: black;
			border-bottom: 1px solid darkgray;
		}
	}
}
.logo-container {

}

.navbar-hamburger {
	font-size: 2em;
	text-align: right;
	> span {
	}
}

.navbar-sidebar {
	position: fixed;
	z-index: 99;
	top: 0;
	right: 0;
	height: 100%;
	width: 80%;
	right: 0;
	padding: 1em;
	background-color: $accent-color;
	color: white;
	transform: translate3d(0, 0, 0) translateX(100%);
	will-change: transform;
	transition: .3s transform;
	&.is-open {
		transform: translate3d(0, 0, 0) translateX(0%);
	}
}