.l-cover {
	position: relative;
}

.cover-background {
	position: absolute;
	top: 0;
	z-index: -1;
	.background {
		background-color: lightgray;
	}
}
.cover-portrait-container {
	position: absolute;
	bottom: 0;
}
.cover-portrait {
	position: absolute;
	width: 100%;
	height: 50%;
	bottom: 0;
	right: 0;
	text-align: center;
	> img {
		height: 100%;
		content: url('assets/me-sm-bw.png');
	}
}

.cover-title {
	position: absolute;
	width: 100%;
	height: 50%;
	top: 0;
	left: 0;
	text-align: center;
	font-size: 0.8em;
	.title {
		font-size: 5em;
		font-weight: 800;
	}
	.subtitle {
		font-size: 2em;
	}
	.scroll-indicator {
		position: absolute;
		width: 100%;
		font-size: 3em;
		animation-name: scroller;
		animation-duration: 2s;
		animation-timing-function: ease-in-out;
		animation-iteration-count: infinite;
	}
}

@keyframes scroller {
	0% {
		transform: translateY(0%)
	}
	50% {
		transform: translateY(20%);
	}
	100% {
		transform: translateY(0%);
	}
}

.block {
	background-color: white;
	color: black;
	padding: 80px 0;
	&.block-accent {
		color: white;
		background-color: black;
	}
	p, li {
		text-align: justify;
	}
}


.card {
	background-color: white;
	color: black;
	padding: 1em;
	margin-bottom: 1em;
}

chat-bubble {
	position: fixed;
	height: 80px;
	width: 80px;
	border-radius: 80px;
	background-image: url('assets/avatar.jpg');
	background-size: cover;
	bottom: 25px;
	right: 25px;
	box-shadow: 3px 3px 7px 0 rgba(0,0,0,0.4);
	z-index: 150;
	transform: scale(0);
	transition: transform .4s ease-out;
	&.is-visible {
		transform: scale(1);
	}
	.notification {
		position: absolute;
		background-color: #FF8A00;
		color: #FFF;
		right: 100px;
		bottom: 23px;
		width: 200px;
		height: 33px;
		border-radius: 4px;
		padding: 4px 9px;
		box-shadow: 2px 2px 7px 1px rgba(0,0,0,0.2);
		will-change: transform;
		transform: scale(0);
		transform-origin: right;
		transition: transform .3s cubic-bezier(.54,.37,.37,.99);
		&.has-notification {
			transform: scale(1);
		}
	}
}

chat {
	position: fixed;
	height: calc(100% - 160px);
	width: calc(100% - 60px);
	background-color: white;
	box-shadow: 3px 3px 7px 2px rgba(0, 0, 0, 0.2);
	bottom: 130px;
	right: 30px;
	z-index: 140;
	will-change: transform;
	transform: scale(0);
	transform-origin: bottom right;
	transition: transform .4s cubic-bezier(.54,.37,.37,.99);
	&.is-active {
		transform: scale(1);
	}
	.title-bar {
		height: 50px;
		display: block;
		background-color: $accent-light-color;
		padding: 0 10px;
		.title {
			font-family: 'Roboto';
			font-weight: 300;
			display: inline-block;
			color: white;
		}
	}
	.chat-content {
		width: 100%;
		height: calc(100% - 100px);
		display: block;
	}
	.chat-input {
		display: block;
		width: 100%;
		height: 50px;
		border: 0;
		padding: 0 15px;
		background-color: darken(white, 10%);
		& + .glyphicon {
			position: relative;
			top: -39px;
			left: calc(100% - 58px);
			display: inline-block;
			height: 50px;
			width: 50px;
			text-align: center;
			font-size: 27px;
			color: gray;
			vertical-align: middle;
		}
	}
}

.footer {
	padding-bottom: 160px;
}

@media (min-width: $screen-xs-min) {
	.cover-title {
		font-size: 1.0em;
	}
}

@media (min-width: $screen-sm-min) {
	.cover-title {
		text-align: left;
		height: 40%;
		font-size: 1.4em;
	}
	.cover-portrait {
		height: 60%;
		text-align: right;
		> img {
			content: url('assets/me-md-bw.png');
		}
	}
}

@media (min-width: $screen-md-min) {
	.cover-title {
		height: 100%;
		font-size: 1.4em;
	}
	.cover-portrait {
		height: 80%;
		text-align: right;
		> img {
			content: url('assets/me-lg-bw.png');
		}
	}
	chat {
		width: 320px;
		height: 60%;
	}
}

@media only screen and (max-device-width: $screen-sm-min) and (orientation: landscape) {
	.cover-title {
		font-size: 0.8em;
		.scroll-indicator {
			display: none;
		}
	}
}