<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta property="og:image" content="http://i.imgur.com/T39EJc8.png" />
	<meta property="og:title" content="Sergei Garcia, Front End Developer" />
	<meta property="og:description" content="I'm a Web Developer that seeks to specialize in responsive, multi-platform development using web technologies." />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Sergei Garcia</title>
	<link href='https://fonts.googleapis.com/css?family=Roboto+Slab:700,400|Roboto+Light|Roboto:400,100,300'
		  rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.6/cosmo/bootstrap.min.css">
	<link rel="stylesheet" href="app.css">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/slideout/0.1.11/slideout.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
	<script src="bundle.js"></script>
</head>
<body ng-app="sgApp" ng-controller="appController as appCtrl">
<!-- Navbar -->
<div fill-height class="navbar-container">
	<nav navbar>
		<div class="fill-height container">
			<div class="row fill-height">
				<div class="fill-height col-xs-2 logo-container">
					<h1 class="v-center logo">SG</h1>
				</div>
				<div class="fill-height col-xs-10 hidden-xs nav-links">
					<ul class="fill-parent">
						<li class="fill-height nav-item" ng-click="appCtrl.scrollTo('#l-about-me')"><h4 class="v-center">About Me</h4></li>
						<li class="fill-height nav-item" ng-click="appCtrl.scrollTo('#l-skills')"><h4 class="v-center">Skills</h4></li>
						<li class="fill-height nav-item" ng-click="appCtrl.scrollTo('#l-experience')"><h4 class="v-center">Experience</h4></li>
						<li class="fill-height nav-item" ng-click="appCtrl.scrollTo('#l-contact')"><h4 class="v-center">Contact</h4></li>
					</ul>
				</div>
				<div class="fill-height col-xs-10 hidden-sm hidden-md hidden-lg navbar-hamburger">
					<span class="glyphicon glyphicon-menu-hamburger v-center" aria-hidden="true" ng-click="appCtrl.openNavSidebar()"></span>
				</div>
			</div>
		</div>
	</nav>
	<aside navbar-sidebar class="navbar-sidebar">
		<div class="fill-parent backdrop"></div>
		<div class="fill-parent content">
			<nav>
				<ul>
					<li class="nav-item" ng-click="appCtrl.scrollTo('#l-about-me')"><h3>About Me</h3></li>
					<li class="nav-item" ng-click="appCtrl.scrollTo('#l-skills')"><h3>Skills</h3></li>
					<li class="nav-item" ng-click="appCtrl.scrollTo('#l-experience')"><h3>Experience</h3></li>
					<li class="nav-item" ng-click="appCtrl.scrollTo('#l-contact')"><h3>Contact Me</h3></li>
				</ul>
			</nav>
		</div>
	</aside>
</div>
<!-- Content -->
<main>
	<!-- Cover -->
	<div fill-height class="l-cover">
		<div class="cover-title">
			<div class="fill-height container">
				<div class="cover-title-container vertical-center">
					<h1 class="title">Sergei García</h1>
					<h4 class="subtitle">Front End Developer</h4>
					<div class="scroll-indicator">
						<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
					</div>
				</div>
			</div>
		</div>
		<div fill-height class="fill-parent cover-background">
			<div class="fill-parent background"></div>
			<div class="cover-portrait container">
				<img src="assets/me_transparent_compressed.png" alt="me">
			</div>
		</div>
	</div>
	<!-- Content -->
	<div id="l-about-me" class="block block-accent l-aboutme">
		<div class="container">
			<h1 class="content-header">About me</h1>
			<p>I'm a Web Developer that seeks to specialize in responsive, multi-platform development using web technologies. While I've done mobile development for android and iOS in the past with Xamarin (C#), I'm currently focusing on front end development with JS/HTML/CSS utilizing modern web-dev frameworks technologies such as AngularJS, SASS, NodeJS, MongoDB, and Ionic (Cordova). All of this, of course while making use of Continuous integration with Gulp/Grunt as well as Scrum AGILE methodologies.

				My end goal is to become a full stack developer with a strong notion of the entire software development cycle with a focus on web applications that work and adapt in a wide array of environments.</p>
		</div>
	</div>
	<div id="l-skills" class="block l-myskills">
		<div class="container">
			<h1 class="content-header">Skills</h1>
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-4">
					<h4 class="content-header">Javascript</h4>
					<div class="progress">
						<div class="progress-bar" style="width: 75%;"></div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4">
					<h4 class="content-header">HTML/CSS</h4>
					<div class="progress">
						<div class="progress-bar" style="width: 65%;"></div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4">
					<h4 class="content-header">Angular</h4>
					<div class="progress">
						<div class="progress-bar" style="width: 60%;"></div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4">
					<h4 class="content-header">Gulp/Grunt</h4>
					<div class="progress">
						<div class="progress-bar" style="width: 80%;"></div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4">
					<h4 class="content-header">Node</h4>
					<div class="progress">
						<div class="progress-bar" style="width: 30%;"></div>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-4">
					<h4 class="content-header">C#</h4>
					<div class="progress">
						<div class="progress-bar" style="width: 50%;"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="l-experience" class="block block-accent l-experience">
		<div class="container">
			<h1 class="content-header">My Experience</h1>
			<div class="row">
				<div class="col-xs-12">
					<div class="card">
						<h2 class="content-header">Accenture (2014 - Current)</h2>
						<ul>
							<li>Developed a mobile application for a private client in the medical area in Xamarin that worked across iOS and Android</li>
							<li>Worked on a Responsive Website that worked across a variety of devices (mobile, tablet, desktop) for a private client in the medical area utilizing technologies such as jQuery, Foundation and Sass.</li>
							<li>Worked on a mobile iOS application for a private client in the agriculture area developed in Ionic (Cordova) using technologies such as AngularJS, Bootstrap and Sass. Also contributed to the project's unit testing with Jasmine and Continuous integration start up with Gulp and Docker</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div id="l-contact" class="block l-contact">
		<div class="container">
			<h1 class="content-header">Contact Me</h1>
			<form class="well form-horizontal">
				<fieldset>
					<div class="form-group">
						<label for="inputName" class="col-lg-2 control-label">Name</label>
						<div class="col-lg-10">
							<input type="text" class="form-control" id="inputName" placeholder="Name" autocomplete="off">
						</div>
					</div>
					<div class="form-group">
						<label for="inputEmail" class="col-lg-2 control-label">Email</label>
						<div class="col-lg-10">
							<input type="text" class="form-control" id="inputEmail" placeholder="Email" autocomplete="off">
						</div>
					</div>
					<div class="form-group">
						<label for="textArea" class="col-lg-2 control-label">Message</label>
						<div class="col-lg-10">
							<textarea class="form-control" rows="3" id="textArea"></textarea>
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-10 col-lg-offset-2">
							<button type="reset" class="btn btn-default">Cancel</button>
							<button type="submit" class="btn btn-primary">Submit</button>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</main>
<footer class="block block-accent footer">
	<div class="container">
		<h6>© 2016 Sergei Garcia. All rights reserved. Front-End Developer</h6>
	</div>
</footer>
</body>
</html>