.container-main {
	padding: 0;
}

.container-fluid.block {
	background-color: $orange;
	color: white;
	padding-top: 30px;
	padding-bottom: 30px;
}

.sg-cover {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	* {
		display: block;
	}
}

.container-fluid.sg-footer {
	padding-top: 40px;
	padding-bottom: 100px;
}

@media (min-width: 992px) {
	.container {
		width: 750px;
	}
}